@media (min-width: 3000px) {
  .main__banner {
    padding: 0 300px;
  }
}
@media (min-width: 2400px) {
  .carousel {
    height: 800px;
    perspective: 1000px;
  }
  .carousel-box {
    min-width: 1600px;
  }
  .carousel-item {
    width: 500px !important;
  }
  .carousel-item img {
    max-width: 400px;
    transform: translateX(50px) translateY(-200px);
  }
}
@media (max-width: 1500px) {
  .main__banner {
    display: block;
    padding: 150px 50px;
  }
  .main__content.active {
    text-align: center;
    margin: 50px auto;
  }

  .carousel {
    height: 400px;
  }
}
@media (max-width: 1125px) {
  .header__search {
    width: 150px;
  }

  .main__banner {
    padding: 150px 25px;
  }

  .carousel {
    height: 300px;
    perspective: 300px;
  }
  .carousel-box {
    min-width: 300px;
  }
  .carousel-item img {
    max-width: 175px;
    transform: translateX(36px) translateY(-30px);
  }
}
@media (max-width: 850px) {
  .header {
    display: block;
    text-align: center;
  }
  .header__logo {
    letter-spacing: 6px;
  }
  .header__nav {
    margin: 40px 0 20px 0;
    justify-content: center;
  }
  .header__search {
    width: 80%;
    margin: 0 auto;
    padding-right: 45px;
  }
  .header__search input {
    text-align: right;
    padding: 0 10px !important;
  }

  .main__banner {
    padding: 230px 25px;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 30px;
  }

  .main__play {
    bottom: 100px;
    left: 25px;
  }
  .main__socials {
    right: 25px;
    gap: 25px;
  }

  .carousel {
    perspective: 200px;
  }
  .carousel-box {
    min-width: 240px;
  }
}
@media (max-width: 400px) {
  .header__logo {
    font-size: 30px;
  }
  .header__search input {
    width: 100%;
  }

  .main__movie {
    max-width: 230px;
  }
}